<div class="p-wrapper" *mobxAutorun>
    <dashboard-header></dashboard-header>
    <dashboard-sidebar [hasSubMenu]="true"></dashboard-sidebar>
    <main id="main" class="main" role="main" style="max-height: calc(100vh - 68px);">
        <router-outlet *ngIf="auth?.profile | validSchool:auth?.school"></router-outlet>
        <app-school-disabled *ngIf="!(auth?.profile | validSchool:auth?.school) && !auth?.loading"></app-school-disabled>
    </main>
    <app-loader *ngIf="auth?.loading"></app-loader>
</div>