<aside class="sidebar" (mouseover)="toggleHoverSidebar($event)" (mouseout)="toggleHoverSidebar($event)">
  <div class="sidebar-content">

    <ng-container *ngIf="hasSubMenu else noSub">
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="expansions.one" (closed)="onClosed(1)" (opened)="onOpened(1)">
          <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="48px" [class.active]="expansions?.one">
            <mat-panel-title>
              Projects
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sidebar-lists">
            <div class="sidebar-list-item active" pTooltip="Inbox" tooltipStyleClass="cs-tooltip">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9.06 8.683L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Project Types
              </div>
            </div>

            <div class="sidebar-list-item" pTooltip="Starred" tooltipStyleClass="cs-tooltip">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M22 14.044A6 6 0 0 0 13.689 21H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v10.044zm-9.94-2.361L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439zM19.5 21.75l-2.645 1.39.505-2.945-2.14-2.086 2.957-.43L19.5 15l1.323 2.68 2.957.43-2.14 2.085.505 2.946L19.5 21.75z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Developer
              </div>
            </div>

            <div class="sidebar-list-item" pTooltip="Snoozed" tooltipStyleClass="cs-tooltip">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm1-10V7h-2v7h6v-2h-4z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Building
              </div>
            </div>

            <div class="sidebar-list-item" pTooltip="Important" tooltipStyleClass="cs-tooltip">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M17 15.245v6.872a.5.5 0 0 1-.757.429L12 20l-4.243 2.546a.5.5 0 0 1-.757-.43v-6.87a8 8 0 1 1 10 0zM12 15a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm0-2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Projects
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="expansions.two" (closed)="onClosed(2)" (opened)="onOpened(2)">
          <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="48px" [class.active]="expansions?.two">
            <mat-panel-title>
              Administrator
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sidebar-lists">
            <div class="sidebar-list-item" pTooltip="Users" tooltipStyleClass="cs-tooltip">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M12 14v2a6 6 0 0 0-6 6H4a8 8 0 0 1 8-8zm0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm2.595 7.812a3.51 3.51 0 0 1 0-1.623l-.992-.573 1-1.732.992.573A3.496 3.496 0 0 1 17 14.645V13.5h2v1.145c.532.158 1.012.44 1.405.812l.992-.573 1 1.732-.992.573a3.51 3.51 0 0 1 0 1.622l.992.573-1 1.732-.992-.573a3.496 3.496 0 0 1-1.405.812V22.5h-2v-1.145a3.496 3.496 0 0 1-1.405-.812l-.992.573-1-1.732.992-.572zM18 19.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Users
              </div>
            </div>

            <div class="sidebar-list-item" pTooltip="Company" tooltipStyleClass="cs-tooltip"
              [routerLink]="['/dashboard/company']" routerLinkActive="active">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M21 19h2v2H1v-2h2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v15h4v-8h-2V9h3a1 1 0 0 1 1 1v9zM5 5v14h8V5H5zm2 6h4v2H7v-2zm0-4h4v2H7V7z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Company
              </div>
            </div>



            <div class="sidebar-list-item" pTooltip="Company" tooltipStyleClass="cs-tooltip"
              [routerLink]="['/dashboard/country']" routerLinkActive="active">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M21 19h2v2H1v-2h2V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v15h4v-8h-2V9h3a1 1 0 0 1 1 1v9zM5 5v14h8V5H5zm2 6h4v2H7v-2zm0-4h4v2H7V7z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Country
              </div>
            </div>


          </div>
        </mat-expansion-panel>



        <mat-expansion-panel [expanded]="expansions.three" (closed)="onClosed(3)" (opened)="onOpened(3)">
          <mat-expansion-panel-header expandedHeight="40px" collapsedHeight="48px" [class.active]="expansions?.three">
            <mat-panel-title>
              Settings
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sidebar-lists">
            <div class="sidebar-list-item" pTooltip="Manage Users" tooltipStyleClass="cs-tooltip">
              <mat-icon class="mat-18">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path
                    d="M12 14v2a6 6 0 0 0-6 6H4a8 8 0 0 1 8-8zm0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm2.595 7.812a3.51 3.51 0 0 1 0-1.623l-.992-.573 1-1.732.992.573A3.496 3.496 0 0 1 17 14.645V13.5h2v1.145c.532.158 1.012.44 1.405.812l.992-.573 1 1.732-.992.573a3.51 3.51 0 0 1 0 1.622l.992.573-1 1.732-.992-.573a3.496 3.496 0 0 1-1.405.812V22.5h-2v-1.145a3.496 3.496 0 0 1-1.405-.812l-.992.573-1-1.732.992-.572zM18 19.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                </svg>
              </mat-icon>
              <div class="item-text">
                Users
              </div>
            </div>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </ng-container>
    <ng-template #noSub>
      <div class="sidebar-lists">
        <ng-container *ngFor="let item of sideBarMenu">
          <div class="sidebar-list-item" pTooltip="Users" tooltipStyleClass="cs-tooltip" [routerLink]="[item?.route]"
            routerLinkActive="active">

            <mat-icon class="mat-18"  *ngIf="item?.isImg">
              <img [src]="item?.icon" alt="">
            </mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="!item?.isImg">
              {{item?.icon}}
            </mat-icon>

            <div class="item-text">
              {{item?.text}}
            </div>
          </div>
        </ng-container>

      </div>
    </ng-template>
  </div>
</aside>